$white: #fff;
$black: #070724;
$darkgrey: #38384f;
$gray: #838391;
$paleblue: #419ebb;
$yellow: #eda249;
$purple: #6f2ed6;
$tomato: #d14c32;
$red: #d83a34;
$orange: #cd5120;
$lightgreen: #1ec2a4;
$blue: #2d68f0;

.white-text {
  color: $white;
}
.black-text {
  color: $black;
}
.darkgrey-text {
  color: $darkgrey;
}
.gray-text {
  color: $gray;
}
.paleblue-text {
  color: $paleblue;
}
.yellow-text {
  color: $yellow;
}
.purple-text {
  color: $purple;
}
.tomato-text {
  color: $white;
}
.red-text {
  color: $red;
}
