@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@400;700&display=swap");

h1 {
  font-family: "Antonio", sans-serif;
  font-weight: 500;
  font-size: 80px;
  line-height: 103px;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-family: "Antonio", sans-serif;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -1.5px;
  margin: 0;

  font-size: 40px;
}

h3 {
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  line-height: 25px;
  font-size: 12px;
  margin: 0;

  letter-spacing: 2.6px;
}

h4 {
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  line-height: 25px;
  font-size: 11px;
  letter-spacing: 1px;
}

h5 {
  font-family: "Antonio", sans-serif;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: -1.05px;
}

p {
  font-family: "League Spartan", sans-serif;
  font-weight: lighter;
  line-height: 25px;
  font-size: 16px;
}
